*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.spotify{
    width: 100%;
    height: 100vh;
}

body{
    font-family: sans-serif;
}

main{
    width: 100%;
    height:calc(100% - 5.5rem);
    display: flex;
}

.left-nav{
    width: 15.5rem;
    height: calc(100%-5.5rem);
    background-color: #000000;
    overflow-y: hidden;
    color: #626262;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-left{
    height: 5rem;
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 1rem;
} 

.fa-brands.fa-spotify{
    display: none;
}

img{
    width: 50%;
    height: 50%;
}

.left-nav .house{
    border-left: 2px solid #9ce62a;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.left-nav .left-1 .house{
    color: lightgray
}

.search{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.library{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.fa-solid.fa-plus{
    background-color: #a3a3a3;
    padding: 0.5rem;
}

.left-nav h2{
    color: white;
    margin-bottom: 0.5rem;
}

.left-nav ul{
    list-style: none;
}

li{
    padding-top: 0.5rem;
}

.downloadleft{
    padding-bottom:  0.5rem;
}

.jhon{
    border-top: 1px solid #626262;
    padding-top: 0.5rem;
}

.jhon span{
    color: white;
}

.left-1{
    height: 8rem;
}

.left-2{
    padding-left: 1rem;
    height: calc(100% - 19rem);
}

.left-2 ul{
    line-height: 2.5rem;
}

.left-3{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 6rem;
}

.main-interface::-webkit-scrollbar{
display: none;
}

.main-interface{
    width: calc(100% - 15rem);
    background-color: #141922;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-menu{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.main-menu li{
    list-style: none;
    padding: 0.5rem;
}

.main-menu li a{
    text-decoration: none;
    color: #64676c;
}

.black-underline{
    background-color: #141922;
    width: 50px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
}

.green-underline{
    background-color: #9ce62a;
    width: 50px;
    height: 1px;
}

.column-main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.column{
    width: calc(96%/6);
}

.main-interface h2,h3{
    color:white;
    padding: 1rem 0;
}

.main-interface h4{
    color: #64676c;
}

.column .card img{
    width: 100%;
}
.container-interface{
    width: 100%;
}

.container{
    width: 98%;
    margin: 0 auto;
}

.card{
    position: relative;
}

.fa-regular.fa-circle-play.fa-2x{
    color: white;
    position: absolute;
    top: 40.5%;
    left: 43%;
    opacity: 0;
 }

.column-main2{
    display: flex;
    justify-content: flex-start;   
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.column2 .card img{
    width: 100%;
}

.column2{
    width: calc(96%/6);
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.column2 .card3 img{
    width: 100%;
}

.card3{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

footer{
    width: 100%;
    height: 100px;
    overflow-y: hidden;
    background-color:#282828;
}

.container-footer{
    display: flex;
    width: 99%;
    margin: auto;
}

.nav-footer{
    display: flex;
    align-items: center;
    width: calc(100%/3);
    justify-content: flex-start;
}

.footer-card{
    width: 100px;
    height: 100px;
}

.footer-card img{
    width: 100px;
    height: 100px;
    padding: 1.3rem;
}

.footer-card h3{
 padding-top: 2rem;
}

.footer-card h4{
    margin-top: -18px;
    color: #737373;
}

.footer-card i{
    padding-top: 2.5rem;
    padding-left: 0.5rem;
    color: #737373;
}

.footer-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}

.fa-solid.fa-shuffle,
.fa-solid.fa-backward-step,
.fa-solid.fa-circle-play,
.fa-solid.fa-forward-step,.fa-solid.fa-arrow-rotate-right{
    color: white;
}

.player{
    padding-bottom: 0.5rem;
}

.player i{
    padding: 0 0.5rem;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.number span{
    color: white;
    padding: 0 0.5rem;
}

.line-time{
    background-color: #a3a3a3;
    width: 70%;
    height: 2px;
}

.green-line-time{
    background-color: white;
    width: 20%;
    height: 2px;
}

.line-small{
    background-color: #a3a3a3;
    width: 100px;
    height: 2px;
}

.line-green{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 2px;
}

.fa-solid.fa-bars,
.fa-solid.fa-tv,
.fa-solid.fa-volume-high{
    color: white;
    padding: 0 0.5rem;
}

.nav-footer.second{
    align-items: center;
}

.nav-footer:last-of-type{
    display: flex;
    justify-content: flex-end;
}

.green-line-time{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.circle{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.nav-top{
    position: fixed;
    font-size: 1.5em;
    top: 0%;
    right: 0%;
    height: 80px;
    width: calc( 100% - 15.3rem);
    color: white;
    background-color: rgba(8, 11, 17, 0.5);
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-top a{
    border: 1px solid gray;
    border-radius: 20px;
    color: white;
    padding: 0.6rem;
    text-decoration: none;
    font-size: 0.6em;   
    margin-right: 1rem;
}

.downloadleft:hover{
    color: white;
}

li:hover{
    color: white;
}

span:hover{
    color: white;
}

.left-1 .house:hover{
    color: white;
} 

.search:hover{
    color: white;
}

.library:hover{
    color: white;
}

.main-menu li a:hover{
    color: white;
}

.container img:hover{
    opacity: 0.6;
}

img:hover + .fa-regular.fa-circle-play.fa-2x{
    opacity: 1;
}

.nav-top a:hover{
    transform: scale(1.1);
}

.line-green:hover{
    background-color: #9ce62a;
}

.green-line-time:hover{
    background-color: #9ce62a;
}

.player .fa-solid:hover{
    transform: scale(1.5);
}

.footer-card i:hover{
    color: white;
}

.nav-footer .fa-solid:hover{
    transform: scale(1.5);
}

.footer-card h4:hover{
    color: white;
    text-decoration: underline;
}

.green-line-time:hover > .circle{
    opacity: 1;
}

.line-green:hover > .circle{
    opacity: 1;
}


